LICENSE.md
CONTRIBUTING.md
zippedData
movie_data_erd.jpeg
Vote Count Didtribution per Language.png
Cash Flow On Diff Release Months.png
Correlation between Average rating and Runtime.png
Distribution Plot.png
Distribution Plot Of Movie Lenght In Minutes.png
file.png
FINANCIAL TRENDS OVER THE YEARS.png
Frequency Distribution of Original Language.png
Genre Counts from IMDB.png
Genre Frequency Distribution.png
Genre Popularity.png
Genre Popularity from AVG ratings (IMDB).png
Genre Popularity from IMDB.png
Genre Ratings from IMDB.png
Genre Vote Sum from IMDB.png
RUNTIME TRENDS OVER THE YEARS.png
Vote Count Didtribution per Language.png
.ipynb_checkpoints
Slide.Presentation.pdf
